<div class="container">
  <div class="row">

    <div class="col-6">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">First</th>
              <th scope="col">Last</th>
            </tr>
          </thead>
          <tbody *ngFor="let hora of horas">
            <tr>
              <td>{{hora.id}}</td>
              <td>{{hora.time}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-6">
      <div>
        <form #horaForm="ngForm" (ngSubmit)="crearHora()">
          <div>ID:</div>
          <input class="form-control" name="idhorainput" type="text"
          placeholder="Idhorainput" required [(ngModel)]="idhorainput">
          <div>Inserte intervalo de horas</div>
          <div class="row">
            <input class="col form-control" type="text" name="horaInicioinput"
            placeholder="HoraInicioinput" required [(ngModel)]="horaInicio">
            :
            <input class="col form-control" type="text" name="horaFininput"
            placeholder="HoraIFininput" required [(ngModel)]="horaFin">
          </div>
          <button class="btn btn-outline-success" type="submit">Añadir</button>
        </form>
      </div>
    </div>

  </div>

</div>
