<div class="container">
  <div class="row">

    <div class="col-6">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">First</th>
              <th scope="col">Last</th>
            </tr>
          </thead>
          <tbody *ngFor="let h of horas">
            <tr>
              <td>{{h.id}}</td>
              <td>{{h.time}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-6">
      <div>
        <form #createForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="crearHora()">
          <input class="form-control mr-sm-2" type="text" name="horaID"
                placeholder="id de la hora" required [(ngModel)]="horaPost.id">
          <input class="form-control mr-sm-2" type="text" name="password"
                placeholder="tiempo de inicio " required [(ngModel)]="it">
                <input class="form-control mr-sm-2" type="text" name="password2"
                placeholder="tiempo de fin " required [(ngModel)]="ft">
          <button [disabled]="!createForm.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Crear Hora</button>
        </form>
      </div>
    </div>

  </div>

</div>
